body{
  padding: 25px;
}
#first{
  color: orange
  ;
}

#second{

    font-weight: bold;
}

#third{
  background-image: url('bubbles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


